#gameBoard {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: 2fr 8fr;
}

#boardTitle {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    place-self: center;
}

#turnDisplay {
    place-self: center;
}

#board {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 3fr;
    place-self: center;
}

button {
    height: 200px;
    width: 200px;
}